server:
  port: 8000

spring:
  application:
    name: gateway-service

  cloud:

    gateway:
      server:
        webflux:
          routes:
            - id: account-service-public
              uri: lb://ACCCOUNTS-SERVICE
              predicates:
                - Path=/accounts/**