server:
  port: 8000

spring:
  application:
    name: gateway-service

  cloud:

    gateway:
      server:
        webflux:
          routes:
            - id: auth-sign-in
              uri: lb://ACCOUNTS-SERVICE
              predicates:
                - Path=/login
                - Method=POST

            - id: account-test-endpoint
              uri: lb://ACCOUNTS-SERVICE
              predicates:
                - Path=/accounts/test
              filters:
                - TokenAuthenticationFilter

            - id: auth-sign-out
              uri: lb://ACCOUNTS-SERVICE
              predicates:
                - Path=/logout

            - id: account-create
              uri: lb://ACCOUNTS-SERVICE
              predicates:
                - Path=/accounts
                - Method=POST

            - id: account-service-public
              uri: lb://ACCOUNTS-SERVICE
              predicates:
                - Path=/accounts/**

custom:
  jwt:
    secrets:
      app-key: A5A10BC17B4E653C78BDD55FFFD9DEE3BE5790CD6F3F64DC1E82E791F9821C17

#